body {
    font-family: 'Arial', sans-serif;
    background: url('asset/21559956_6457506.svg') no-repeat ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    backdrop-filter: blur(40px);
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    margin-bottom: 10px;
}

input {
    flex: 1;
    font-size: 20;
    padding: 8px;
}

button {
    padding: 8px;
    font-size: 20;
    border-radius: 3px;
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 5px;
    border-bottom: 1px solid #eee;
}
li input[type="checkbox"] {
    grid-row: 1;
    width: 2rem;
    height: 1.2rem;
}

li span {
    flex-grow: 2; 
    font-size: 23px;
    overflow: hidden;
    max-width: 230px;
}

li button {
    order: 2;
}
    li button {
        margin-right: 10px;
    }
.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

@media screen and (max-width: 500px) {
    body{
        margin: 0 10px;
    }
}